#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  all: unset;
  caret-color: transparent;
}

.grid {
  display: grid;
  grid-template-rows: calc(1fr - 2px);
  gap: 5px;
}

.guess, td {
  width: 25px;
  height: 25px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #888;
}

.guess:focus {
  border: 3px solid red;
  transform: translateY(-1px);
}

button {
  text-transform: uppercase;
}

.bull {
  background-color: greenyellow;
}

.cow {
  background-color: lightcoral;
}