@tailwind base;
@tailwind components;
@tailwind utilities;

#body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidemenu outlet outlet"
        "sidemenu outlet outlet"
    ;
}

#header {
    grid-area: header;
}

#sidemenu {
    grid-area: sidemenu;
}

#outlet {
    grid-area: outlet;
}
